# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

/.quarto/


# data used in the project
data/*
!data/.gitkeep

# Rendered quarto site
_site/*

# logs files from crew
logs/*

.quarto/*
.Rproj.user/*

# rendered figures
FIG/*.pdf
FIG/*.png
FIG/*.jpeg
FIG/*.jpg

# R may create empty img files in the root folder sometimes. We blacklist them from the version control
Rplot*.pdf
Rplot*.png
Rplot*.jpeg
Rplot*.jpg
